@font-face {
    font-family: 'Nunito Sans';
    src: url('../font/NunitoSans_10pt-Regular.ttf') format('woff2');
    font-display: swap;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    font-display: swap;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    transition: 0.3s;
    z-index: 999;
}

.logo {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
    letter-spacing: 4px;
    z-index: 999;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
    z-index: 1000;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    list-style: none;
}

.nav-links ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background: #fff;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.fa-solid.fa-xmark, 
.fa-solid.fa-bars {
    display: none;
    color: #fff;
}

/* Hero Section */
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main-content-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/kawakawa_image_1.webp');
}

.main-content-menu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/fresh_vegetables_2.webp');
}

.main-content-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/hole_in_the_rock.webp');
}

.main-content-reservations {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/crayfish.webp');
}

.main-content-hours {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/kawakawa_image_2.webp');
}

.main-content-staff {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/kawakawa_image_1.webp');
}

.main-content-privacy {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/kawakawa_image_1.webp');
}

/* Carousel */
.carousel {
    position: relative;
    overflow: hidden;
}

#map, 
#menu-pdf, 
.carousel,
#googleCalendar {
    height: 400px;
    width: 100%;
    max-width: 100%;
    margin: 20px auto 10px;
    border-width: 0;
}

.carousel-images {
    display: flex;
}

.carousel-image {
    display: none;
    max-width: 100%;
    transition: opacity 0.5s ease;
}

.carousel-button {
    position: absolute;
    top: 50%;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 100;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button i {
    font-size: 45px;
    color: white;
    text-shadow: -1px -1px 0 #1F2434ff, 1px -1px 0 #1F2434ff, -1px 1px 0 #1F2434ff, 1px 1px 0 #1F2434ff;
}

.phone-number {
    text-decoration: none;
}

/* Contact Section */
.contact-container, 
.menu-container, 
.booking-container,
.hours-container,
.privacy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 240px;
    width: 100%;
    max-width: 1000px;
}

.contact-details,
.location, 
.gallery,
.restaurant-menu,
.booking-form,
.booking-information,
.hours,
.calendar,
.privacy-statement {
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.staff-container {
    width: 1200px;
    height: 350px;
    padding: 20px;
}
.spreadsheet-container {
    width: 100%; /* Takes the full width of its parent */
    height: 100%;
    overflow: hidden; /* Hides the overflow content */
}

.spreadsheet-container iframe {
    width: 100%; /* iframe takes the full width of its container */
    height: 100%;
    border: none; /* Removes the border */
}

.privacy-section {
    margin-bottom: 20px;
    margin-top: 20px;
}
/* Text Box */
.text-box {
    padding: 15px;
    max-width: 600px;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 160px;
}

.main-content h2,
.booking-container h2,
.hours-container h2,
.privacy-container h2,
.staff-container h2 {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 4px;
    text-align: left;
    letter-spacing: 10px;
    margin-top: 30px;
    text-align: left;
}

.text-box h1 {
    font-size: 150px;
    font-weight: 300;
    letter-spacing: 4px;
}

.text-box h2 {
    font-size: 75px;
    font-weight: 250;
    letter-spacing: 10px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 30px;
}

.privacy-statement h3 {
    font-size: 20px;
    font-weight: 100;
    text-align: left;    
}

.booking-information p,
.hours p, 
.staff-container p {
    font-size: 14;
    text-align: left;
}

.privacy-statement p {
    font-size: 12px;
    text-align: left;
}

.hero-button {
    padding: 12px 34px;
    font-size: 24px;
    color: #ffffff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.hero-button:hover {
    background: rgba(255, 255, 255, 0.20);
    transition: 0.5s;
    color: #ffffff;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    background-color: #1F2434ff;
    color: #fff;
    text-align: center;
    border-top: rgba(255, 255, 255, 0.4) solid 1px;
}

.footer div h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer div p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-column-1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-column-2 {
    text-align: right;
}

.footer a[aria-label*="Visit our"] {
    text-decoration: none;
}

.social-icon {
    display: inline-block;
    width: 48px; /* Set the width and height to 48x48 pixels or larger */
    height: 48px;
    padding-top: 10px;
    text-align: right;
}

.social-icon i {
    font-size: 24px;
    color: #fff;
}

/* Input and Button Styles */
form input {
    padding: 10px;
    width: 240px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: left;
}

form input::placeholder {
    text-align: center;
}

form button {
    padding: 10px;
    width: 100px;
    margin-bottom: 10px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: rgba(255, 255, 255, 0.20);
    transition: 0.5s;
    color: #ffffff;
}

span {
    margin-left: 10px;
    color: #68926Bff;
}

.booking-form label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="number"],
.booking-form input[type="time"] {
    width: 100%;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.55);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.booking-form button.submit-button {
    width: 100%;
    color: white;
    background-color: #1F2434ff;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

.booking-form button.submit-button:hover {
    background-color: #4cae4c; 
}

.phone-number .fa-phone,
.email-address .fa-envelope {
    margin-right: 15px;
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F2434ff;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    justify-content: center;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

@media(max-height:600px) {
    .staff-container {
        height: 300px;
    }
}

/* Media Queries */
@media(max-width: 700px) {
    .header {
        background-color: #1F2434ff;
        border-bottom: rgba(255, 255, 255, 0.75) solid 1px;
    }

    .nav-links {
        position: absolute;
        right: -200px;
        top: 0;
        width: 200px;
        height: 100vh;
        background-color: #1F2434ff;
        border-left: rgba(255, 255, 255, 0.75) solid 1px;
        text-align: center;
        transition: 1s;
        z-index: 800;
    }

    .nav-links ul {
        display: block;
        width: 100%;
        margin: 10px 0px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links ul li a {
        color: #fff;
    }

    .nav-links ul li:hover::after {
        width: 75%;
    }

    .nav-links.active {
        right: 0px;
    }

    .fa-solid.fa-xmark {
        display: block;
        margin: 20px 40px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        text-align: right;
    }

    .fa-solid.fa-bars {
        display: block;
        margin: 10px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    .text-box h1 {
        font-size: 84px;
    }

    .text-box h2 {
        font-size: 36px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .hero-button {
        padding: 10px 20px;
        font-size: 20px;
    }

    .contact-container,
    .booking-container {
        padding-left: 50px;
        padding-right: 50px;
        flex-direction: column;
    }

    .staff-container {
        height: 300px;
    }

    .footer {
        flex-direction: column;
        padding: 50px;
        padding-bottom: 50px;
        align-items: center;
    }

    .footer-column-1,
    .footer-column-2 {
        padding: 15px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    form input::placeholder {
        text-align: left;
    }
}